
  <div class="flex flex-row items-center">
    <div
      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
    >
      <img src="{{userImageUrl}}" class="rounded-circle w-full h-full">
    </div>
    <div
      class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
    >
      <div> <!--[innerHTML]="content"--><!--{{content}}-->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title font-bold">Request Commission</h5>
            <div class="card-text m-0.5">
              <ul>
                <li>Min Price: đ100.000</li>
                <li>Max Price: đ100.000</li>
                <li>Description: A picture about portrait.</li>
              </ul>
            </div>
            <div class="flex justify-between">
              <a href="#" class="btn btn-primary">Accept</a>
              <a href="#" class="btn btn-danger">Reject</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
