<app-profile-banner></app-profile-banner>
<div class="container">
  <div class="row">
    <!--<div class="alert alert-info pb-0" >
      <p><strong>Information: </strong> You have made changes. Any unsaved changes will be lost</p>
    </div>-->
  </div>
  <div class="row">
    <tabset class="member-tabset">
      <tab heading="Artworks">
        <section class="py-6 dark:bg-gray-800 dark:text-gray-50">
          <div class="container grid grid-cols-2 gap-4 p-4 mx-auto md:grid-cols-4">
            <a *ngFor="let artwork of userProfile?.artworks" routerLink="/artwork/{{artwork.id}}"><img src="{{artwork.imageUrl}}" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"/></a>
          </div>
        </section>
      </tab>
      <tab heading="Request an artwork">
        <app-request-artwork></app-request-artwork>
      </tab>
    </tabset>
  </div>
</div>



