<div class="container mx-auto mt-8 p-4 bg-gray-800 rounded-lg shadow">
    <h2 class="text-white text-3xl font-bold mb-4 text-center">Report List</h2>
    <div class="overflow-x-auto">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="min-w-full leading-normal">
        <thead>
          <tr>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider">Report ID</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider">Reporter ID</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider">Artwork ID</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider">Content</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider">Created Date</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-700 text-left text-center text-md font-semibold text-white uppercase tracking-wider sticky-action-column">Action</th>
          </tr>
        </thead>
        <tbody class="text-white">
          <tr *ngFor="let report of reports">
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md">{{report.id}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md">{{report.reporterId}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md">{{report.artworkId}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md truncate" style="max-width: 250px;">{{report.content}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md">{{report.createdDate | date:'mediumDate'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-md text-right sticky-action-column">
              <a routerLink="/admin/report-detail/{{report.id}}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded text-xs">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
