<div class="min-h-screen dark:bg-gray-800 dark:text-gray-100">
  <div class="">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.pinimg.com/736x/0c/96/7c/0c967c4af27aa805391e3be495936acd.jpg" class="d-block w-100"
            style="height:30rem" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/564x/c6/3b/a5/c63ba5126c1cb954c393e656df46ecf3.jpg" class="d-block w-100"
            style="height:30rem" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/efcb37ec-31ae-42f2-bcc4-15e0529a4ff6/df4702y-7489ba02-572c-4196-b69b-defcda2a741b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VmY2IzN2VjLTMxYWUtNDJmMi1iY2M0LTE1ZTA1MjlhNGZmNlwvZGY0NzAyeS03NDg5YmEwMi01NzJjLTQxOTYtYjY5Yi1kZWZjZGEyYTc0MWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BU4y_e3fR-ntZvXwDcmXyIhaQBFklDTcMdynqUVxS8k"
            class="d-block w-100 h-96" alt="..." style="height:30rem">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <main>

      <div class="container mx-auto space-y-16 mt-5">
        <section>
          <span class="block mb-2 text-3xl font-medium tracki uppercase lg:text-center dark:text-blue-400">
            Who we are
          </span>
          <div class="grid gap-6 my-16 lg:grid-cols-3">
            <div class="flex flex-col p-8 space-y-5 rounded-md dark:bg-gray-900 h-52">
              <div
                class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full dark:bg-blue-400 dark:text-gray-900">
                1</div>
              <p class="text-2xl font-semibold">
                <b>A platform</b> for artists to share their work
              </p>
            </div>
            <div class="flex flex-col p-8 space-y-5 rounded-md dark:bg-gray-900 h-52">
              <div
                class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full dark:bg-blue-400 dark:text-gray-900">
                2</div>
              <p class="text-2xl font-semibold">
                <b>Commissions </b>for artists and audience
              </p>
            </div>
            <div class="flex flex-col p-8 space-y-5 rounded-md dark:bg-gray-900 h-52">
              <div
                class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full dark:bg-blue-400 dark:text-gray-900">
                3</div>
              <p class="text-2xl font-semibold">
                Everyone can <b>trade artworks </b>
              </p>
            </div>
          </div>
        </section>

        <section>
          <span class="block mb-2 text-3xl font-medium tracki uppercase lg:text-center dark:text-blue-400">
            Anime Artworks
          </span>
          <div class="mt-5">
            <app-artwork-carousel [artworks]="animeArtworks"></app-artwork-carousel>
          </div>

        </section>
        <section>
          <div class="container p-6 py-20 mx-auto rounded lg:px-8 dark:bg-gray-900">
            <h2 class="text-5xl font-bold text-center">Our team is here to help you.</h2>
            <div class="flex justify-center p-4">
              <a rel="noopener noreferrer" href="#">Meet our crew &gt;</a>
            </div>
            <img src="https://source.unsplash.com/random/360x240" alt=""
              class="object-cover w-full h-auto mt-8 rounded max-h-96 dark:bg-gray-500">
          </div>
        </section>
      </div>
    </main>
  </div>
</div>