<div *ngIf="report" class="container mx-auto mt-8 p-6 bg-gray-800 rounded-xl shadow-lg max-w-4xl">
    <h2 class="text-white text-3xl font-bold mb-6 text-center">Report Detail</h2>
    <div class="bg-gray-900 p-5 rounded-lg">
      <div class="flex justify-center">
        <div class="overflow-x-auto w-full max-w-md">
          <table class="table-auto w-full text-white">
            <tbody>
              <tr>
                <td class="border px-4 py-2 font-semibold">Report ID:</td>
                <td class="border px-4 py-2">{{ report.id }}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Reporter ID:</td>
                <td class="border px-4 py-2">{{ report.reporterId }}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Artwork ID:</td>
                <td class="border px-4 py-2">{{ report.artworkId }}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Content:</td>
                <td class="border px-4 py-2">{{ report.content }}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Created Date:</td>
                <td class="border px-4 py-2">{{ report.createdDate | date: 'mediumDate' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  