<div class="modal-content" *ngIf="artwork">
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" class="modal-title pull-left">Report {{artwork.title}}</h4>
    <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #reportForm="ngForm" id="reportForm" (ngSubmit)="reportSubmit()">
        <div class="row m-5" *ngIf="validationErrors.length > 0">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{error}}
            </li>
          </ul>
        </div>
        <textarea class="form-control"
                  [froalaEditor]="options"
                  [(ngModel)]="report.content"
                  name="content"
                  #content="ngModel"
                  required></textarea>
        <span class="text text-danger" *ngIf="content.invalid && content.touched">Please enter the report content</span>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success text-blue-400"
            type="submit"
            form="reportForm"
            [disabled]="reportForm.invalid">Submit Report</button>
    <button class="btn btn-info" (click)="bsModalRef.hide()">Close</button>
  </div>
</div>
