<div class="admin-sidebar bg-gray-900 text-white h-full rounded-md">
  <ul class="p-4">
    <li class="mb-2">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
      </a>
    </li>
    <li class="mb-2">
      <a
        routerLink="/manager/transaction-management/transaction-list"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-exchange-alt mr-2"></i>Transactions
      </a>
    </li>
  </ul>
</div>
