<div class="modal-content" *ngIf="commission">
    <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Reject {{commission.senderName}}</h4>
        <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form #rejectForm="ngForm" id="rejectForm" (ngSubmit)="rejectRequestSubmit()">
                <div class="row m-5" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>
                <textarea class="form-control"
                          [froalaEditor]="options"
                          [(ngModel)]="rejectRequest.notAcceptedReason"
                          name="reason"
                          #reason="ngModel"
                          required></textarea>
                <span class="text text-danger" *ngIf="reason.invalid && reason.touched">Please enter the report content</span>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success text-blue-400"
                type="submit"
                form="rejectForm"
                [disabled]="rejectForm.invalid">Submit</button>
        <button class="btn btn-info" (click)="bsModalRef.hide()">Close</button>
    </div>
</div>
