<div class="container mx-auto mt-8 p-6 bg-gray-800 rounded-xl shadow-lg">
    <h2 class="text-white text-3xl font-bold mb-6 text-center">Configuration List</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full leading-normal">
        <thead class="bg-gray-700 text-white">
          <tr>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Id</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Config Date</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Service Package Config</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Physical Image Config</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">General Config</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Paging Config</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider">Advertisement Config</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-sm text-center font-semibold tracking-wider sticky-action-column">Action</th>
          
          </tr>
        </thead>
        <tbody class="bg-gray-800 text-white">
          <tr *ngFor="let config of configs">
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.id}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.configDate | date:'mediumDate'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.isServicePackageConfig ? 'Yes' : 'No'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.isPhysicalImageConfig ? 'Yes' : 'No'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.isGeneralConfig ? 'Yes' : 'No'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.isPagingConfig ? 'Yes' : 'No'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 text-md text-center">{{config.isAdvertisementConfig ? 'Yes' : 'No'}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-gray-800 text-center text-sm text-right sticky-action-column">
              <a routerLink="/admin/config-detail/{{config.id}}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded text-center text-sm">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  