<div class="admin-sidebar bg-gray-900 text-white h-full rounded-md">
  <ul class="p-4">
    <li class="mb-2">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
      </a>
    </li>
    <li class="mb-2">
      <a
        routerLink="/admin/user-management/user-list"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-users mr-2"></i>User Management
      </a>
    </li>
    <li class="mb-2">
      <a
        routerLink="/admin/artwork-management/artwork-list"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-paint-brush mr-2"></i>Artwork Management
      </a>
    </li>
    <li class="mb-2">
      <a
        routerLink="/admin/commission-management/commission-list"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-file-signature mr-2"></i>Commission Management</a
      >
    </li>
    <!-- Các mục khác giữ nguyên -->
    <li class="mb-2">
      <a
        routerLink="/admin/report-management/report-list"
        routerLinkActive="bg-blue-500 rounded"
        class="block p-2 hover:bg-blue-500 rounded"
      >
        <i class="fas fa-flag mr-2"></i>Report Management
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/config-management/config-create"
        routerLinkActive="bg-blue-500 rounded"
        class="flex items-center p-2 hover:bg-blue-500 rounded"
        ><i class="fas fa-cogs mr-2"></i>Configuration</a
      >
    </li>
  </ul>
</div>
