<div class="container" *ngIf="artwork">
  <div class="row p-3">
    <div class="col-4">
      <div
        class="flex flex-col justify-center max-w-5xl p-6 shadow-md rounded-xl sm:px-12 dark:bg-gray-900 dark:text-gray-100">
        <img src="{{artwork.user.imageUrl}}" alt=""
          class="w-32 h-32 mx-auto rounded-full dark:bg-gray-500 aspect-square">
        <div class="space-y-4 text-center divide-y dark:divide-gray-700">
          <div class="my-2 space-y-1">
            <h2 class="text-xl font-semibold sm:text-2xl">
              <a routerLink="/user/user-profile/{{artwork.user.email}}">
                {{artwork.user.name}}
                <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(artwork.user.email)">
                  <i class="fa fa-user me-2"></i>
                </span>
              </a>
            </h2>
            <p class="px-5 text-xs sm:text-base dark:text-gray-400">Artist</p>
          </div>
          <div class="flex justify-center pt-2 space-x-4 align-center">
            <a rel="noopener noreferrer" href="{{artwork.user.facebookLink}}" aria-label="GitHub" class="p-2 rounded-md dark:text-gray-100 hover:dark:text-blue-400">
              <i class="bi bi-facebook"></i>
            </a>
            <a rel="noopener noreferrer" href="{{artwork.user.twitterLink}}" aria-label="Dribble" class="p-2 rounded-md dark:text-gray-100 hover:dark:text-blue-400">
              <i class="bi bi-twitter-x"></i>
            </a>
          </div>
          <div class="mt-3">
            <!--button 1-->
            <button
              type="button"
              *ngIf="phoneNumberButtonState == 0"
              (click)="displayPhoneNumber()"
              class="px-8 py-3 font-semibold border rounded dark:border-gray-100 dark:text-gray-100 hover:bg-blue-900">
              Display phone number
              <i class="bi bi-telephone"></i>
            </button>
            <!--button 2-->
            <button
              type="button"
              *ngIf="phoneNumberButtonState == 1"
              class="px-8 py-3 font-semibold border rounded dark:border-gray-100 dark:text-gray-100">
              <div class="w-4 h-4 border-4 border-dashed rounded-full animate-spin dark:border-blue-400"></div>
            </button>
            <!--button 3-->
            <button
              type="button"
              *ngIf="phoneNumberButtonState == 2"
              (click)="hidePhoneNumber()"
              class="px-8 py-3 font-semibold border rounded dark:border-gray-100 dark:text-gray-100 hover:bg-blue-900">
              {{artwork.user.phoneNumber}}
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col max-w-md mt-2 p-6 rounded-xl dark:bg-gray-900 dark:text-gray-100 ">
        <img src="{{artwork.imageUrl}}" alt=""
          class="flex-shrink-0 object-cover h-64 rounded-sm sm:h-96 dark:bg-gray-500 aspect-square">
        <div>
          <div class="container">
            <div class="row mt-3">
              <div class="col">
                <h2 class="text-xl font-semibold">{{artwork.title}}</h2>
              </div>
              <div class="col-auto">
                <button class="btn btn-danger" (click)="openReportModal()">
                  <i class="bi bi-flag"> Report</i>
                </button>
              </div>
            </div>

            <span class="block pb-2 text-sm dark:text-gray-400 font-bold">Price: {{artwork.price | currency: 'VND'}}</span>
            <p>{{artwork.description}}</p>
          </div>
        </div>
        <div class="text-center">
          <h3 class="mb-3 mt-3 font-bold">Rating:</h3>
          <rating [max]="x" [(ngModel)]="y" [customTemplate]="tt"></rating>
          <ng-template #tt let-i="index" let-v="value">
            <button class="btn btn-{{i < v ? 'warning' : 'default'}} text-blue-600" (click)="rating(v)">
              {{i < v ? '&#9733;' : '&#9734;' }} </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-8">
      <tabset class="member-tabset" #artworkTabs>
        <tab heading="Artwork Images" #imageTab="tab" (selectTab)="onTabActivated($event)">
          <gallery *ngIf="imageTab.active" [items]="images" class="gallery"></gallery>
          <!--Comment Section-->
          <app-artwork-comment-section [artwork]="artwork"></app-artwork-comment-section>
        </tab>
        <tab heading="Messages" *ngIf="user && user.email !== artwork.user.email" (selectTab)="onTabActivated($event)">
          <!-- component -->
          <app-artwork-message [user]="user" [artwork]="artwork"></app-artwork-message>
        </tab>
      </tabset>


    </div>
  </div>
</div>
