<div class="container mx-auto mt-8 p-6 bg-gray-800 rounded-lg shadow-lg max-w-2xl">
  <h2 class="text-white text-3xl font-bold mb-6 text-center">Configuration</h2>
  <form [formGroup]="configForm" (ngSubmit)="onSubmit()" class="space-y-6">

      <!-- General Config -->
      <div class="config-section p-4 rounded-lg" [ngClass]="{'bg-gray-700': configForm.get('isGeneralConfig')?.value}" >
          <h3 class="config-title text-white text-xl mb-4 cursor-pointer flex justify-between items-center" (click)="toggleSection('isGeneralConfig')">
              General Config
              <i class="fas fa-chevron-down"></i>
          </h3>
          <div class="config-content space-y-4" *ngIf="configForm.get('isGeneralConfig')?.value">
            <label for="logoUrl" class="block text-white mb-2">Logo URL</label>
            <input formControlName="logoUrl" id="logoUrl" placeholder="Logo URL" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
            
              
            <label for="myPhoneNumber" class="block text-white mb-2">Phone Number</label>
            <input formControlName="myPhoneNumber" id="myPhoneNumber" placeholder="Phone Number" class="form-control max-w-md w-full p-2 rounded bg-gray-800">

            <label for="address" class="block text-white mb-2">Address</label>
            <input formControlName="address" id="address" placeholder="Address" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
          </div>
      </div>


      <!-- Paging Config -->
      <div class="config-section p-4 rounded-lg" [ngClass]="{'bg-gray-700': configForm.get('isPagingConfig')?.value}">
          <h3 class="config-title text-white text-xl mb-4 cursor-pointer flex justify-between items-center" (click)="toggleSection('isPagingConfig')">
              Paging Config
              <i class="fas fa-chevron-down"></i>
          </h3>
          <div class="config-content space-y-4" *ngIf="configForm.get('isPagingConfig')?.value">
              <label for="totalItemPerPage" class="block text-white mb-2">Total Item Per Page</label>
              <input formControlName="totalItemPerPage" id="totalItemPerPage" type="number" placeholder="Total Items Per Page" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
              
              <label for="rowSize" class="block text-white mb-2">Row Size</label>
              <input formControlName="rowSize" type="number" placeholder="Row Size" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
          </div>
      </div>

      <!-- Advertisement Config -->
      <div class="config-section p-4 rounded-lg" [ngClass]="{'bg-gray-700': configForm.get('isAdvertisementConfig')?.value}">
          <h3 class="config-title text-white text-xl mb-4 cursor-pointer flex justify-between items-center" (click)="toggleSection('isAdvertisementConfig')">
              Advertisement Config
              <i class="fas fa-chevron-down"></i>
          </h3>
          <div class="config-content space-y-4" *ngIf="configForm.get('isAdvertisementConfig')?.value">
              <label for="companyName" class="block text-white mb-2">Company Name</label>
              <input formControlName="companyName" placeholder="Company Name" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
              
              <label for="companyPhoneNumber" class="block text-white mb-2">Company Phone Number</label>
              <input formControlName="companyPhoneNumber" placeholder="Company Phone Number" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
              
              <label for="companyEmail" class="block text-white mb-2">Company Email</label>
              <input formControlName="companyEmail" placeholder="Company Email" class="form-control max-w-md w-full p-2 rounded bg-gray-800">
          </div>
      </div>

      <button type="submit" class="form-control max-w-2xl w-full py-2 px-4 bg-blue-500 text-white font-bold rounded hover:bg-green-700 transition duration-200">Submit</button>
  </form>
</div>
