<div class="container mt-4 dark:bg-gray-800">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-white text-3xl font-bold">User List</h2>
        <button routerLink="/admin/user-management/user-create" class="flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Add New User
        </button>
    </div>
    <table datatable class="table-auto w-full mt-2 rounded-md">
        <thead class="bg-gray-700 text-white">
        <tr>
            <th class="px-4 py-2">No.</th>
            <!-- Thêm cột số thứ tự -->
            <th class="px-4 py-2 text-center text-md">Name</th>
            <th class="px-4 py-2 text-center text-md">Email</th>
            <th class="px-4 py-2 text-center text-md ">Phone Number</th>
            <th class="px-4 py-2 text-center text-md">Description</th>
            <th class="px-4 py-2 text-center text-md">Role</th>
            <th class="px-4 py-2 text-center text-md">Status</th>
            <th class="px-4 py-2 text-center text-md">Actions</th>
            <!-- Thêm cột Actions cho nút Edit -->
        </tr>
        </thead>
        <tbody class="bg-gray-800 text-white">
        <tr
                class="border-b-2 border-gray-700"
        >
            <!-- Tăng độ đậm của đường kẻ -->
            <td class="px-4 py-2">Name</td>
            <!-- Hiển thị số thứ tự -->
            <td class="px-4 py-2 text-center text-md">Name</td>
            <td class="px-4 py-2">Name</td>
            <td class="px-4 py-2">Name</td>
            <td class="px-4 py-2">Name</td>
            <td class="px-4 py-2">Name</td>
            <!-- For Status -->
            <td class="px-4 py-2 text-center text-md">
          <span class="relative inline-block px-3 py-1 font-semibold text-white leading-tight rounded-full">
            <span aria-hidden="true" class="absolute inset-0 opacity-50 rounded-full"></span>
            <span class="relative">Name</span>
          </span>
            </td>
            <!-- For Actions -->
            <td class="px-4 py-2 text-sm text-center text-md">
                <div class="inline-flex gap-2">
                    <a routerLink="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline text-xs">View</a>
                    <a routerLink="/" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline text-xs">Edit</a>
                    <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline text-xs">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
