<div class="p-6 sm:p-12 dark:bg-gray-900 dark:text-gray-100" *ngIf="user">
  <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
    <img src="{{user.imageUrl}}" alt="" class="self-center flex-shrink-0 w-24 h-24 border rounded-full md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
    <div class="flex flex-col">
      <h4 class="text-lg font-semibold md:text-left">{{user.name}}</h4>
      <p class="dark:text-gray-400">{{user.description}}</p>
    </div>
  </div>
  <div class="flex justify-start pt-4 space-x-4">
    <a rel="noopener noreferrer" href="{{user.facebookLink}}" aria-label="GitHub" class="p-2 rounded-md dark:text-gray-100 hover:dark:text-blue-400">
      <i class="bi bi-facebook"></i>
    </a>
    <a rel="noopener noreferrer" href="{{user.twitterLink}}" aria-label="Dribble" class="p-2 rounded-md dark:text-gray-100 hover:dark:text-blue-400">
      <i class="bi bi-twitter-x"></i>
    </a>
  </div>
  <div *appHasRole="['Artist']">
    <button type="button" routerLink="/artwork-post" class="px-8 py-2 font-semibold rounded-full dark:bg-gray-100 dark:text-gray-800">Post an artwork</button>
  </div>

</div>
<div class="overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-white">
      User Profile
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-white-50">
      Edit your profile here.
    </p>
  </div>
  <form #editForm="ngForm" (ngSubmit)="editProfile()" *ngIf="user">
    <div class="row m-5" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Full name
          </dt>
          <input
            type="text"
            [(ngModel)]="user.name"
            name="name"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/3"
            />
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Email address
          </dt>
          <input
            type="text"
            [(ngModel)]="user.email"
            name="email"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/3" value="johndoe@gmail.com"/>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Phone number
          </dt>
          <input
            type="number"
            [(ngModel)]="user.phoneNumber"
            name="phoneNumber"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/3" value="0123456789"/>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Description
          </dt>
          <textarea
            [(ngModel)]="user.description"
            name="description"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/2">Expedita temporibus culpa reprehenderit doloribus consectetur odio!</textarea>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Twitter
          </dt>
          <input
            type="text"
            [(ngModel)]="user.twitterLink"
            name="twitterLink"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/3" value="0123456789"/>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-100">
            Facebook
          </dt>
          <input
            type="text"
            [(ngModel)]="user.facebookLink"
            name="facebookLink"
            class="mt-1 text-sm text-gray-100 sm:mt-0 sm:col-span-2 dark:bg-gray-700 w-1/3" value="0123456789"/>
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <div>
            <button type="submit" class="px-8 py-3 font-semibold rounded-full dark:bg-gray-100 dark:text-gray-800">Edit</button>
          </div>
        </div>
      </dl>
    </div>
  </form>
</div>
